.body{
    background-color: rgb(226, 224, 224);
}





.navone{
    margin-top: 1px;
    color:white;
    height: 30px;
    background-color: brown;
    word-spacing: 1cm;
    
}
.navtwo{
    margin-top: 10px;
    height: 30px;
    text-align: center;
    word-spacing: 0.5cm;
    color: white;
}

.sectionone{
    background-color: rgb(236, 232, 232);
    padding:7px;
    height: 40px;
    word-spacing: 1cm;
    
}

.sectionone.sectionone.live{
    text-decoration: double;
    text-decoration-color: rgb(104, 169, 199))))));
}

.find{
    height: 100px;
    background-color: azure;
}
.aside{
    color: white;
    position: sticky;
}
.circ{
    
    height: 75px;
    width: 75px;
    background-color: rgb(207, 39, 48);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.rect{
    height:350px;
    width: 100vw;
    background-color:brown
}

.rect img{
    margin-top: 15px;
    margin-left: 15px;
}

.container{
    height: 200px;
    width: 100%vw;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    background-color: rgb(218, 213, 213);
}

.col{
    column-count: 2;
}

.col>top>ii{
    column-rule: 10cm;
}
    
